.form-control {
  margin:0.5rem 0 0.5rem 0;
}

textarea {
  margin:0.5rem 0 0.5rem 0;
  width:100%;
}

input[type=text], textarea {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form-control:focus {
  background-color: rgba(#C8C2AA, .35);
}

input[type=text]:hover, textarea:hover {
  
  background-color: rgba(#C8C2AA, .35);
  //#ffd969
}