---
layout: default
---

<div class="section-root-one">
  <div class="section two" style="padding-top: 0">
    <div class="container text-center contents">
      
      <div class="row text-center">
        <div class="col">
        <hr class="dots">
        <h1>Casting your project</h1>
          <p>
            We assist with all casting needs for any kind of project for independent developers and content creators, worldwide.
          </p>
        </div>
      </div>

      <hr class="dots">

      <div class="row text-center section-sub">
          <div class="col-md">
            <h3>Initial consultation</h3>
            <p>
              We'll discuss your needs and provide a personalised service based on your exact requirements.
              <img src="./img/casting1.jpg" class="img-fluid rounded-circle img-casting">
            </p>
          </div>

          <div class="col-md">
            <h3>Casting call process</h3>
            <p>
              We handle the process of sourcing and auditioning suitable candidates for your roles.
              <img src="./img/casting2.jpg" class="img-fluid rounded-circle img-casting">
            </p>
          </div>
          <div class="col-md">
            <h3>Finalising your cast</h3>
            <p>
              We will aid in finalising a contract with your client once we have helped you narrow down your choice.
              <img src="./img/casting3.jpg" class="img-fluid rounded-circle img-casting">
            </p>
          </div>
        </div>

        <hr class="dots">

    </div>
  </div>
</div>