---
layout: default
---
<div class="section-root-banner">
  <div class="section black">
    <div class="container text-center contents-small white-text">
        <h1>One-stop-shop for <br>voice casting your game</h1>
        <hr class="hr-small">
          <p class="header-description">
            With expertise in both the voice over and video game industries, we blend our skills together to provide personalized services to game development studios and help them cast their video games from start to finish.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="section-root-four">
  <div class="section two">
    <div class="container text-center contents">
        <h1>Our services</h1>
        <hr class="hr-small">
          <p>
            For video game development studios we offer <strong>voice casting services</strong>, <strong>production support</strong> and partner with studios to cast their games in schedule with production. From <strong>holding casting calls</strong> and <strong>auditions</strong> to signing and <strong>finalising voice talent</strong> in your projects. We also work with independent <strong>voice over artists</strong>: we will help you find your next great role and put you on track with your journey, giving practical advice and actionable steps to take your career to the next level.</p>
          </p>
      </div>
    </div>
  </div>
</div>

<div class="section-root-four">
  <div class="section two">
    <div class="container text-center contents">
        <h1>Our clients & projects</h1>
        <div class="row project-row">
<!--           <div class="col-sm">
            <img src="/img/liquidation-logo.png" class="img-project" style="height: 6rem">
          </div>
          <div class="col-sm">
            <img src="/img/kiwi-brothers-logo.png" class="img-project">
          </div> -->
          <div class="col text-center">
            <img src="./img/liquidation-logo.png" class="img-project" style="height: 6rem">
            <img src="./img/kiwi-brothers-logo.png" class="img-project">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-root-four">
  <div class="section two">
    <div class="container">
      <div class="row text-center">
        <div class="row">
          <div class="col-md">
            <h3>Game Studios</h3>
            <p>
              Work with us to bring your next project to life.
            </p>
            <a href="contact.html"><button type="button">Our casting process</button></a>
          </div>

          <div class="col-md">
            <h3>Voice Over Artists</h3>
            <p>
              Let us help you find your next great role.
            </p>
            <a href="contact.html"><button type="button">Contact us</button></a>
          </div>
          <div class="col-md">
            <h3>Press Inquiries</h3>
            <p>
              Learn more about our services and what we offer.
            </p>
            <a href="contact.html"><button type="button">Contact us</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-root-four">
  <div class="section two">
    <div class="container text-center contents">
      
      <div class="row text-center section-sub">
        <div class="col">
        <h1>Our services</h1>
        <hr class="hr-small">
          <p>
            For video game development studios we offer <strong>voice casting services</strong>, <strong>production support</strong> and partner with studios to cast their games in schedule with production. From <strong>holding casting calls</strong> and <strong>auditions</strong> to signing and <strong>finalising voice talent</strong> in your projects. We also work with independent <strong>voice over artists</strong>: we will help you find your next great role and put you on track with your journey, giving practical advice and actionable steps to take your career to the next level.</p>
          </p>
        </div>
      </div>

      <div class="row text-center section-sub">
        <div class="col">
          <h1>Our clients & projects</h1>
          <div class="row project-row">
            <div class="col text-center">
              <img src="./img/liquidation-logo.png" class="img-project" style="height: 6rem">
              <img src="./img/kiwi-brothers-logo.png" class="img-project">
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center section-sub">
          <div class="col-md">
            <h3>Game Studios</h3>
            <p>
              Work with us to bring your next project to life.
            </p>
            <a href="contact.html"><button type="button">Our casting process</button></a>
          </div>

          <div class="col-md">
            <h3>Voice Over Artists</h3>
            <p>
              Let us help you find your next great role.
            </p>
            <a href="contact.html"><button type="button">Contact us</button></a>
          </div>
          <div class="col-md">
            <h3>Press Inquiries</h3>
            <p>
              Learn more about our services and what we offer.
            </p>
            <a href="contact.html"><button type="button">Contact us</button></a>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="section-root">
  <div class="section one">
    <div class="container text-center contents-small">
      <h1>Let us help you<br> cast your game</h1>
          <p>
            With our expertise in both the voice over and video game industries, we blend our skills together to provide personalized services to game development studios.
          </p>
      <a href="contact.html">
        <p><a href="contact.html"><button type="button" class="contact-button">Contact Us</button></a></p>
      </a>
    </div>
  </div>
</div>