---
layout: default
---
<div class="section-root-one">
  <div class="section one">
    <div class="container text-center">
        <h1>Liquidation</h1>

        <div class="container project-gallery">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <!-- <h2>Liquidation</h2> -->
              <img src="/img/liquidation2.jpg" class="img-fluid">
              <p class="project-description">LIQUIDATION is a fantasy/sci-fi singleplayer and multiplayer real-time strategy game with rpg elements in which you take the role of a Deity to bring back balance to the devastated and war-torn world of Veá.</p>

              <p>Liquidation is an original Real-Time Strategy (RTS) game set in a universe that mixes elements of both fantasy and science fiction, with support for both single-player and multiplayer modes.

The game takes place in the dying plane of Veá, which has been repeatedly ravaged and drained of its very life essence over the course of a massive war that has been going on for centuries. Now, with the doomed world drawing its last breath, you arise as a lesser deity tasked with restoring the balance in Veá and ending this war before it’s too late.

But which one of the four warring factions are you going to lend your favour to in this war’s decisive moments? Will you even follow your task, or will you be the instrument that brings about Veá’s fateful end?</p>
              <!-- <p class="text-center"><a href="projects.html">Back to projects</a></p> -->
              <a href="projects.html"><button type="button" class="contact-button">Back to projects</a></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>